* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.custom-shape-divider-bottom-1708198882 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708198882 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 100px;
}
@media (min-width: 768px) {
  .custom-shape-divider-bottom-1708198882 svg {
    height: 215px;
  }
}
.custom-shape-divider-bottom-1708198882 .shape-fill {
  fill: #856cc9;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  right: 0;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  background-image: radial-gradient(#856cc9, #5643fa);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.navigation__link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #2998ff;
}
