* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.custom-shape-divider-bottom-1708198882 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708198882 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 100px;
}
@media (min-width: 768px) {
  .custom-shape-divider-bottom-1708198882 svg {
    height: 215px;
  }
}
.custom-shape-divider-bottom-1708198882 .shape-fill {
  fill: #856cc9;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  right: 0;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  background-image: radial-gradient(#856cc9, #5643fa);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.navigation__link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #2998ff;
}
body {
  /* animation: pulse 10s infinite; */
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translateZ(0);
}

.bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  bottom: -50px;
  animation: circle 15s infinite;
  transition-timing-function: linear;
  /* clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  ); */
  /* clip-path: circle(50% at 50% 50%); */

  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
}

.bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  /* animation-delay: 1s; */
  animation-duration: 16s;
  /* background-color: red; */
}

.bubbles li:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 4s;
  animation-duration: 13s;
}

.bubbles li:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 80%;
  animation-delay: 1s;
  animation-duration: 19s;
}

.bubbles li:nth-child(5) {
  width: 50px;
  height: 50px;
  left: 50%;
  animation-delay: 5s;
  animation-duration: 12s;
}

.bubbles li:nth-child(6) {
  width: 25px;
  height: 25px;
  left: 10%;
  animation-delay: 3s;
  animation-duration: 11s;
}

.bubbles li:nth-child(7) {
  width: 55px;
  height: 55px;
  left: 70%;
  animation-delay: 2.5s;
  animation-duration: 11s;
}

.bubbles li:nth-child(8) {
  width: 75px;
  height: 75px;
  left: 30%;
  animation-delay: 3.5s;
  animation-duration: 11s;
}

@keyframes circle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    background-color: #856cc9;

    -webkit-transform: translateY(-1080px) rotate(800deg);
    transform: translateY(-1080px) rotate(800deg);
  }
}
.yarl__container,
.yarl__thumbnails_container {
  background-color: rgba(0, 0, 0, 0.95) !important;
}
